%title%
(Binary for 32bit Windows / Ruby 1.8.*)


* About Star Ruby

Star Ruby is a ruby extensional library for creating games.
You can develop SNES-like 2D games with Star Ruby.


* How to Install

Install Ruby 1.8.* if you need.

  One-Click Installer - Windows (Download)
  http://rubyforge.org/frs/?group_id=167&release_id=15923

Execute "install.rb" to install Star Ruby.

  > ruby install.rb


* Licenses

Star Ruby:
  MIT License

Ruby:
  Ruby License
  http://www.ruby-lang.org/

SDL, SDL_image, SDL_mixer, SDL_ttf:
  GNU Lesser General Public License
  http://www.libsdl.org/


* Web Site

http://starruby.info/


* The Author

Hajime Hoshi (hajimehoshi@gmail.com)
